/* ========== PLOT ========== */

.axis-x {
  fill: black;
  /* font-weight: bold; */
  text-anchor: end;
}

.axis-y {
  fill: black;
  /* font-weight: bold; */
  text-anchor: start;
}

.circles {
  fill: #08306b;
  stroke: #03132b;
  stroke-width: 0.8;
  opacity: 0.7;
}

.text {
  font-family: sans-serif;
  font-size: 10px;
}

/* ========== LINES ========== */

.line {
  fill: none;
  stroke: orange;
  stroke-width: 2;
}

.dots {
  fill: darkorange;
  stroke: darkorange;
  stroke-width: 2;
}

/* ========== MAP ========== */

.countries {
  fill: green;
}

.countries .selected {
  fill: darkorange !important;
}

.countries path {
  stroke: #aac;
  stroke-width: 0.6;
  opacity: 0.8;
}

.countries path:hover {
  stroke-width: 1.2;
  opacity: 1;
}

.names {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
}

.names:hover {
  fill: black;
}

/* ========== CHORD ========== */

