/* ========== COMMON ========== */

.tick text {
  fill: white;
}

.tick line {
  stroke: white;
}

/* ========== PLOT ========== */

.circles {
  fill: orangered;
  stroke: red;
  stroke-width: 1;
  opacity: 0.9;
}

.text {
  fill: white;
  font-family: sans-serif;
  font-size: 10px;
}

/* ========== LINES ========== */

.line {
  fill: none;
  stroke-width: 2;
}

.dots {
  stroke-width: 5;
}

/* ========== MAP ========== */

.countries {
  fill: black;
}

.countries path {
  stroke: transparent;
  opacity: 0.9;
  stroke-width: 0.4;
  stroke-opacity: 1;
}

.countries .selected {
  opacity: 1;
}

.countries path:hover {
  stroke-width: 1.2;
  opacity: 1;
}

.names {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
}

.names:hover {
  fill: black;
}

/* ========== CHORD ========== */

.arcs {
  fill-opacity: 0.8;
}

path.fade {
  fill-opacity: .1;
  stroke-opacity: .1;
}

path.show {
  fill-opacity: 1;
  stroke-opacity: 1;
}