/* ========== COMMON ========== */

.tick text {
  fill: white;
}

.tick line {
  stroke: white;
}

/* ========== LINES/PLOT ========== */

#lines .main:hover .country {
  opacity: .2;
}

#lines .main .country:hover {
  opacity: 1;
}

.line {
  fill: none;
  stroke-width: 5;
}

.line:hover {
  stroke-width: 7;
  stroke: orangered;
}

.dots {
  stroke-width: 4;
}

.circles {
  fill: transparent;
  stroke-width: 4;
  opacity: 0.7;
}

.circles:hover {
  opacity: 1;
  stroke-width: 6;
  stroke: orangered;
}

/* ========== MAP ========== */

.countries {
  fill: black;
}

.countries path {
  stroke: transparent;
  opacity: 0.9;
  stroke-width: 0.4;
  stroke-opacity: 1;
}

.countries .selected {
  opacity: 1;
}

.countries path:hover {
  stroke-width: 1.2;
  opacity: 1;
}

.names {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
}

.names:hover {
  fill: black;
}

/* ========== CHORD ========== */

.arcs {
  fill-opacity: 0.8;
}

path.fade {
  fill-opacity: .1;
  stroke-opacity: .1;
}

path.show {
  fill-opacity: 1;
  stroke-opacity: 1;
}