/* ========== GRAPH ========== */

#graph .countries:hover .country {
  opacity: .04 !important;
}

#graph .countries .country:hover {
  opacity: 1 !important;
}

#graph .dots, #graph .line {
  stroke-width: 6;
}

#graph .line {
  fill: none;
  opacity: 0.8;
}

#graph .line:hover {
  opacity: 1;
}

#graph .dots {
  stroke-width: 4;
}

#graph .selected {
  visibility: visible !important;
}

#graph .metrics:hover .metric {
  opacity: 0.1;
}

#graph .metrics .metric:hover {
  opacity: 1;
}

/* ========== MAP ========== */

#map .countries {
  fill: black;
}

#map .countries path {
  stroke: transparent;
  opacity: 0.9;
  stroke-width: 0.4;
  stroke-opacity: 1;
}

#map .countries .selected {
  opacity: 1;
}

#map .countries path:hover {
  stroke-width: 1.2;
  opacity: 1;
}

#map .names {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
}

#map .names:hover {
  fill: black;
}

/* ========== CHORD ========== */

#chord .arcs {
  fill-opacity: 0.8;
}

#chord path.fade {
  fill-opacity: .1;
  stroke-opacity: .1;
}

#chord path.show {
  fill-opacity: 1;
  stroke-opacity: 1;
}